* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../MathTest/fonts/OpenSans-Light.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../MathTest/fonts/OpenSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

body {
    font-family: OpenSans, sans-serif;
    color: #c0c0c0;
    background: url(img/bg-pic.jpg);
}

.section {
    margin: auto;
    text-align: center;
    padding: 5px 0;
    font-family: OpenSans, sans-serif;
    font-weight: 400;
}

.title {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 50px;
    font-weight: 800;
}

.btn {
    margin: 50px 0;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    color: #000;
    background-color: #808080;
    font-size: 15px;
}

.input {
    background-color: #808080;
    border-style: none;
    width: 300px;
    height: 35px;
}